<h1>RxJS</h1>

<button (click)="firstTour()">First tour</button>
<button (click)="secondTour()">Second tour</button>
<button (click)="thirdTour()">Third tour</button>
<button (click)="fourthTour()">Fourth tour</button>
<button (click)="fifthTour()">Fifth tour</button>
<button (click)="sixthTour()">Sixth tour</button>
<button (click)="seventhTour()">Seventh tour</button>
<button (click)="eighthTour()">Eighth tour</button>
<button (click)="ninthTour()">Ninth tour</button>
<button (click)="tenthTour()">Tenth tour</button>

